{% block content %}

<table align="right" style="background-color:white;width:350px" >
	
	<!--<tr><td style="color:blue;border-right: 1px solid transparent;border-bottom: 1px solid transparent;border-left	: 1px solid transparent;border-top	: 1px solid transparent;">
		<form action="/juniper/perlscripts/">
    		<input type="submit" class="btn btn-theme" value="Juniper UC1A" /> 
		</form>
		</td>
	</tr>
	<tr><td style="color:blue;border-right: 1px solid transparent;border-bottom: 1px solid transparent;border-left	: 1px solid transparent;">
		<form action="/juniper/javacode/">
    		<input type="submit" class="btn btn-theme" value="Juniper UC1B" /> 
		</form>
		</td>
	</tr>
	<tr><td style="color:blue;border-right: 1px solid transparent;border-bottom: 1px solid transparent;border-left	: 1px solid transparent;">
		<form action="/juniper/scriptsOptimization/">
    		<input type="submit" class="btn btn-theme" value="Juniper UC2" /> 
		</form>
		</td>
	</tr>
	<tr><td style="color:blue;border-right: 1px solid transparent;border-bottom: 1px solid transparent;border-left	: 1px solid transparent;">
		<form action="/juniper/errorlogs/">
    		<input type="submit" class="btn btn-theme" value="Juniper UC3" /> 
		</form>
		</td>
	</tr>
	<tr><td style="color:blue;border-right: 1px solid transparent;border-bottom: 1px solid transparent;border-left	: 1px solid transparent;">
		<form action="/juniper/usecase1/">
    		<input type="submit" class="btn btn-theme" value="Prediction" /> 
		</form>
		</td>
	</tr>
	-->
	<tr ><td><a href="/juniper/perlscripts/"><strong style="color:green;font-size:20px">Mapping Scripts To Objects</strong></a></td></tr>
	<tr><td><a href="/juniper/defectduplication/"><strong style="color:green;font-size:20px">Defect Duplication</strong></a></td></tr>
	<tr><td><a href="/juniper/javacode/"><strong style="color:green;font-size:20px">Mapping Code To Scripts</strong></a></td></tr>
	<tr><td><a href="/juniper/scriptsOptimization/"><strong style="color:green;font-size:20px">Optimization </strong></a></td></tr>
<tr><td><a href="/juniper/testcoverage/"><strong style="color:green;font-size:20px">Test Coverage</strong></a></td></tr>
	<tr><td><a href="/juniper/errorlogs/"><strong style="color:green;font-size:20px">Tracing Error Logs </strong></a></td></tr>
	<tr><td><a href="/juniper/usecase1/"><strong style="color:green;font-size:20px">Prediction</strong></a></td></tr>
	<tr><td><a href="/juniper/AdaptivePlanning/"><strong style="color:green;font-size:20px">Adaptive Planning</strong></a></td></tr>
<tr><td><a href="/juniper/save/"><strong style="color:green;font-size:20px">Saved Results</strong></a></td></tr>

	</table>

{% endblock %} 