{% extends "juniper/main.html" %}
{% block content %}
{% load staticfiles %}

<div style="align:center;"><strong style="color:white;font-size:18pt;">
<li role="presentation" style="color:white"><a href="{% static 'juniper/documents/NTT DATA Services QAT CRESTA Overview_rev04.pdf' %}"><strong style="color:white;font-size:18pt;">Cresta Introduction</strong></a></li>
 	 		<li role="presentation"><a href="{% static 'juniper/documents/CRESTA Final Presentation_v12.pdf' %}"><strong style="color:white;font-size:18pt;">Aspire Detailed Presentation</strong></a></li>
  	 		<li role="presentation"><a href="{% static 'juniper/documents/How_AI_Will_Change_Software_Testing.pdf' %}"><strong style="color:white;font-size:18pt;">Forrester Research</strong></a></li>
			<li role="presentation"><a href="/juniper/team"><strong style="color:white;font-size:18pt;">Team</strong></a></li>
                     <li role="presentation"><a href="/juniper/defect"><strong style="color:white;font-size:18pt;">Defects/Feedback </strong></a></li>

			<li role="presentation"><a href="/juniper/copyright"><strong style="color:white;font-size:18pt;">Copy Right</strong></a></li>
			<li role="presentation"><a href="/juniper/about/releasenotes"><strong style="color:white;font-size:18pt;">Release Note</strong></a></li>
			<li role="presentation"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfohX17uQjkJCC_wOBG92j4Wvs_R3o-GnJOJd0kOgzSjj8k_w/viewform?usp=sf_link <https://docs.google.com/forms/d/e/1FAIpQLSfohX17uQjkJCC_wOBG92j4Wvs_R3o-GnJOJd0kOgzSjj8k_w/viewform?usp=sf_link>"><strong style="color:white;font-size:18pt;">Customer Feedback Survey</strong></a></li>
	 			 		
</strong>
<br><br>
</div>
{% endblock %}