{% extends "juniper/help.html" %}
{% load staticfiles %}
{% block content %}

	 <center>
	 <h2 style="color:black;font-weight:bold">Access and Security Recommendations</h2>	 
	 <p>You can use Firefox Mozilla (Version 43.0.4) to access this URL. Though Juniper Aspire is Android compatible we request you to access this URL via Windows client desktop. 
	 This URL has been hosted in DMZ environment of the company and its traffic is being monitored by the company. 
	 We recommend that you access this URL from inside Juniper Network firewall. Please report any irregular traffic or security issues to NTTData should you come across them. </p>
	 <!--<img src="{%  static 'juniper/images/image1.png' %}" style="width:650px;height:400px;"> -->
	</center>
	
{% endblock %}