{% extends "juniper/release.html" %}
{% load staticfiles %}
	{% block content %}
				 
	 
	<span "float: right;" id="Release note">
	<center>
      <h2 style="color:black;font-weight:bold" >RELEASE NOTES</h2>
	  </center>
	  
	 <h4 style="color:black;font-weight:bold"style="align:left">Cresta Release 2.0 (Aspire)</h4>
	 <span id="Cresta Release 2.0 (Aspire)">		

	</span>
	<h4 style="color:black;font-weight:bold"style="align:left"> (1) Cresta Release 2.0 and later, will be called Aspire.</h4> 
	  <h4 style="color:black;font-weight:bold"style="align:left">(2) The base Architecture for Aspire has been changed from Java to Python based DJango. </h4>
	   <h4 style="color:black;font-weight:bold"style="align:left">(3) Spanish and German Corpora have been implemented. Their accuracy needs to be established though. </h4>
	    <h4 style="color:black;font-weight:bold"style="align:left">(4) Three new usecases have been added namely Mapping, Script Optimization and Error log tracking. </h4>
			<p style="color:black;font-weight:bold"style="align:left"> 1.Mapping <p>
			<p style="color:black;font-weight:bold"style="align:left"> 2.Script Optimization <p>
			<p style="color:black;font-weight:bold"style="align:left"> 3.Error log tracking <p>
		 <h4 style="color:black;font-weight:bold"style="align:left">(5) UI for Aspire has been changed based on customer feedback. Prediction usecase has been preceded by Adaptive Planning Usecase.</h4>
		 
 <h4 style="color:black;font-weight:bold"style="align:left">(6) Documentation in chm format for DJango has been implemented. </h4>

		   <h4 style="color:black;font-weight:bold"style="align:left">(7) The code has been run through a security scan and has been deployed on a public DMZ server. </h4>
	<br>
<br>	    
 <h4 style="color:black;font-weight:bold"style="align:left">(8) Open items</h4>
	</span>
	<span id="open items" style="color:black;font-weight:bold"style="align:left">
	 <ul>
		<li style="color:black;font-weight:bold"style="align:left"> IP and Copyright certificate is pending from legal.  </li>
		<li> Defect tracking and customer feedback process needs to be implemented.</li>
		<li> Cresta API's need to be published and documented.</li>
		<li> Cresta API's to be integrated with Quantum. </li>
	</span>
{% endblock %} 