{% extends "AdaptivePlanning/home.html" %}

{% block content %}
	 <center>
	<h1 style="color:White;"><b> Adaptive Planning </b></h1>
        
	<div style="color:White;width: 100%; height: 200px;overflow-y: scroll;"
		align="center">
		<table class="example" align="center"
			style="color:White;width: 100%; border-collapse: collapse;border-style: solid;border-color:black;">

			<thead>
				<tr>
					<th class="paddingCell">Release</th>
					<th class="paddingCell">Defect Density</th>
					<th class="paddingCell">Defect Leakage</th>
					<th class="paddingCell">Defect Rejection</th>
				
					<th class="paddingCell">Test Case Count</th>
					<th class="paddingCell">Application Complexity</th>
					<th class="paddingCell">Domain Knowledge</th>
					<th class="paddingCell">Technical Skills</th>
					<th class="paddingCell">Req. Query Count</th>
					<th class="paddingCell">Code Review Comments</th>
					<th class="paddingCell">Design Review Comments</th>
					<th class="paddingCell">No. of Resources</th>
					<th class="paddingCell">Budget in Use</th>
					<th class="paddingCell">ETA (Days)</th>
					<th class="paddingCell">Cost of Resource</th>
					<th class="paddingCell">Efficiency</th>
					<th class="paddingCell">Project Status</th>
					<th class="paddingCell">Availability of Budget</th>
				</tr>
			</thead>
</center>
</thead>
	</tbody>
	<tbody>

				{%for r in db %}
                               
   <tr>                                                    
 <td style=>{{r.Release}}</td>
<td style=>{{r.DD}}</td>
 <td style=>{{r.DefectLeakage}}</td>
<td style=>{{r.DefectRejection}}</td>
 <td style=>{{r.TestCaseCount}}</td>
<td style=>{{r.ApplicationComplexity}}</td>
 <td style=>{{r.DomainKnowledge}}</td>
<td style=>{{r.TechnicalSkills}}</td>
 <td style=>{{r.ReqQueryCount}}</td>
<td style=>{{r.CodeReviewComments}}</td>
 <td style=>{{r.DesignReviewComments}}</td>
<td style=>{{r.NoofResources}}</td>
 <td style=>{{r.BudgetinUse}}</td>
<td style=>{{r.ETA}}</td>
 <td style=>{{r.Efficiency}}</td>
<td style=>{{r.ProjectStatus}}</td>
<td style=>{{r.AvailabilityofBudget}}</td>

{%endfor%}
</tr>
    				
			

</tbody>

</table>
</div>





<br>
<br>

<div style="color:White;width: 100%; height: 200px;overflow-y: scroll;"
		align="center">
		<table class="example" id="recentData" align="center"
			style="width: 100%; border: 1px solid black; border-collapse: collapse;">
			<thead>
				<tr>
					
					<th class="paddingCell">Release</th>
					<th class="paddingCell">Defect Density</th>
					<th class="paddingCell">Defect Leakage</th>
					<th class="paddingCell">Defect Rejection</th>
									<th class="paddingCell">Test Case Count</th>
					<th class="paddingCell">Application Complexity</th>
					<th class="paddingCell">Domain Knowledge</th>
					<th class="paddingCell">Technical Skills</th>
					<th class="paddingCell">Req. Query Count</th>
					<th class="paddingCell">Code Review Comments</th>
					<th class="paddingCell">Design Review Comments</th>
					<th class="paddingCell">No. of Resources</th>
					<th class="paddingCell">Budget in Use</th>
					<th class="paddingCell">ETA (Days)</th>
					<th class="paddingCell">Cost of Resource</th>
					<th class="paddingCell">Efficiency</th>
					<th class="paddingCell">Project Status</th>
					<th class="paddingCell">Availability of Budget</th>
				</tr>
			</thead>

<tbody>

			


<form action="{% url 'AdaptivePlanning:clicked' adaptive.id %}"  method="post"> 
{% csrf_token%}  
{%for r in db%}                  
 





<tr> 
 <input  type="radio" id="r{{forloop.counter}}" name="Release" value="{{r.id}}">
                                                 
<label for="r{{forloop.counter}}">
 {{r.Release}}
<td><a href="AdaptivePlanning/{{r.id}}><input onChange='this.form.submit()' type="radio" id="r{{forloop.counter}}" name="Release" value="{{r.id}}">{{r.Release}}</a></td>

{% if r.is_clicked %}
    <img src="http://i.imgur.com/b9b13Rd.png" />
{%endif%}

</label><br>

{%endfor%}
<input type="submit" value="clicked">

</form>	




{%for r in db%} 

<!-- <td style=>{{r.Release}}</td>-->
<td style=>{{r.DD}}</td>
 <td style=>{{r.DefectLeakage}}</td>
<td style=>{{r.DefectRejection}}</td>
 <td style=>{{r.TestCaseCount}}</td>
<td style=>{{r.ApplicationComplexity}}</td>
 <td style=>{{r.DomainKnowledge}}</td>
<td style=>{{r.TechnicalSkills}}</td>
 <td style=>{{r.ReqQueryCount}}</td>
<td style=>{{r.CodeReviewComments}}</td>
 <td style=>{{r.DesignReviewComments}}</td>
<td style=>{{r.NoofResources}}</td>
 <td style=>{{r.BudgetinUse}}</td>
<td style=>{{r.ETA}}</td>
 <td style=>{{r.Efficiency}}</td>
<td style=>{{r.ProjectStatus}}</td>
<td style=>{{r.AvailabilityofBudget}}</td>

</tr>

{%endfor%}
    				

			

</tbody>

		
</thead>
	</tbody>
		</table>
	</div>

	</div>
	
	

	

	</div>
</div>
</div>
</table>



</div>
<br>

<br>
<form>

<center>			

  <br>
 

		
	

</form>
<br>
<br>
{%for r in Re%}
<tr><td style=>{{r.Release}}hi</td>
{%endfor%}

{% endblock %}