<!DOCTYPE html>
<html lang="en">

<head>
<title>Aspire</title>
<meta charset="utf-8" />

</head>

<body>
<div>
<table>
{% for row in data %}
<tr>
{% for col in row %}
{% if col < 0.75 %}
<td style="background-color:green">{{col}}</td>
{% endif %}
{% if col > 0.75 and col < 0.9 %}
<td style="background-color:yellow">{{col}}</td>
{% endif %}
{% if col > 0.9 and col < 1.0%}
<td style="background-color:red">{{col}}</td>
{% endif %}
{% if col == 1.0 %}
<td style="background-color:white">{{col}}</td>
{% endif %}
{% endfor %}
<tr>
{% endfor %}
</table>
</div>

</body>

</html>
