{% extends "juniper/header.html" %}

{% block content %}

<div>

<ul style="list-style-type:none; ">
	<li><h4><strong style="color:white;"><span style="text-decoration: underline;">Aspire Usecases</span></strong></h4></li>
	<li><strong style="color:white;">UseCase 1A - Relate Objects to Perl Scripts.</strong></li>
	<li><strong style="color:white;">UseCase 1B - Relate Java Code Files Objects.</strong></li>
	<li><strong style="color:white;">UseCase 2 - Optimize Duplicate Perl TestScripts</strong></li>
	<li><strong style="color:white;">UseCase 3 - Reopen Regression Defects based on error Logs.</strong></li>
</ul>
<h1>{{ hi }}</h1>
</div>
{% endblock %} 